body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #fff;
    font-size: 24px;
    background: linear-gradient(-45deg, #ed193b, #a98055, #4c91b9, #681d7a);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
header{    
    letter-spacing: 3px;
}
h1{
    font-size: 28px;
}
a{
    text-decoration: none;
    font-size: 24px;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: black;
}
img{
    width: 100%;
    max-width: 250px;
}
.logo{
    width: 90px;
    height: 90px;
}
.navigation{
    background: #DAAD86;
    border-radius: 20px;
    border: 1px solid black;
}
.footer{
    background: #659DBD;
    height: 60px;
}
.kontent{
    background: #DAAD86;
    border-radius: 20px;
    border: 1px solid black;
}
.form{
    background: #DAAD86;
    border-radius: 20px;
    border: 1px solid black;
}
.table{
    font-size: 20px;
    background: #DAAD86;
    border-radius: 20px;
    border: 1px solid black;
}
tbody tr:nth-child(odd){
    background-color: bisque;
}
tbody tr:nth-child(even){
    background-color: #BC986A;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.card-wrapper {
    margin-right: 16px;
    perspective: 300px;
    perspective-origin: 50%;
  }
  
  .card {
    background-color: gainsboro;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition-duration: 0.4s;
    transition-property: box-shadow, filter, transform;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    width: 175px;
    height: 260px;
  }
  .card:hover {
    box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1) contrast(0.95) saturate(1);
    transform: rotateX(3deg) translateZ(15px);
  }
  .card:hover .card-shine {
    opacity: 0.2;
    transform: rotateZ(210deg) translateX(12%) translateY(32%);
  }
  .card img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .card-shine {
    background: linear-gradient(to bottom, rgba(235, 245, 255, 0) 0%, rgba(235, 245, 255, 0.85) 12px, rgba(235, 245, 255, 0.75) 20%, rgba(210, 210, 210, 0) 60%, rgba(10, 10, 10, 0) 85%, rgba(10, 10, 10, 0.8) 100%);
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateZ(212deg) translateX(12%) translateY(59%);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    width: 220%;
    height: 100%;
    z-index: 1;
  }
