body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #fff;
    background-color: #4c91b9;
    font-size: 24px;
}
.header{
    background: #659DBD ;
    width: 100%;
    height: 60px;
    padding: 40px;
}
.title{
    font-size: 36px;
    padding: 10px;
    color:#fff;
}
a{
    text-decoration: none;
    font-size: 24px;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: black;
}
img{
    width: 100%;
    max-width: 250px;
}
.logo{
    display: flex;
    margin-top: -30px;
    width: 100px;
    height: 100px;
    float:left;
    margin-left: 28%;
}
.navigation{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding-top: 2px;
    padding-bottom: 10px;
    background: #DAAD86;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
}
.navigation a{
    padding: 40px;
}
.footer{
    padding-left: 20px;
    margin-top: 30px;
    height: 60px;
    background: #659DBD;
    width: 100%;
    padding-top: 30px;
    font-size: large;
}
.kontent{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
    background: #DAAD86;
    border-radius: 20px;
    border: 1px solid black;
}
.kontent li{
    margin-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
    background: #DAAD86;
    border-radius: 20px;
    border: 1px solid black;
    padding-bottom: 10px;
}
.table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
    background: #DAAD86;
    border-radius: 20px;
    border: 1px solid black;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
tbody tr:nth-child(odd){
    background-color: bisque;
}
tbody tr:nth-child(even){
    background-color: #BC986A;
}
